<div class="row">
    <div class="col-xs-12">
        <h2>Instructions</h2>
        <ul class="list-group">
          <li class="list-group-item">Enter between 1 and 20 people and their destination floor to request an elevator.</li>
          <li class="list-group-item">An elevator will not accept more than 20 passengers.</li>
          <li class="list-group-item">Use the <btn class="btn btn-xs btn-danger">empty</btn> button for an elevator to empty its passengers on its current floor.</li>
          <li class="list-group-item">Use the <btn class="btn btn-xs btn-primary">Dispatch</btn> button to run the dispatching simulation.</li>
          <li class="list-group-item">A travelled elevator will show an arrow for its last direction of travel along with a trail of its travelled floor path in <strong><span class="text-danger">red</span></strong> if it travelled <strong><span class="text-danger">down</span></strong> or <strong><span class="text-success">green</span></strong> if it travelled <strong><span class="text-success">up</span></strong>.</li>
        </ul>
    </div>
</div>
<!-- Administration app -->
<div class="row">
    <div class="col-xs-12">
        <h2>Elevator administration</h2>
        <table class="table table-condensed">
            <thead>
                <tr>
                    <th>Floor</th>
                    <th>Boarding passengers</th>
                    <th ng-repeat="elevator in elevators">
                        <div class="row">
                            <div class="col-xs-12">{{ elevator.name }}</div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <button class="btn btn-xs btn-danger" ng-click="elevator.empty();">empty</button>
                            </div>
                        </div>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="floor in floors">
                    <td>
                        <span class="badge">{{ floor.number }}</span>
                    </td>
                    <div class="col-xs-4 ">
                        <td>
                            <form class="form-inline" role="form">
                                <div class="form-group">
                                    <input type="number" class="form-control" id="floor{{ floor.number }}Travellers" ng-model="floor.passengers.boarding" placeholder="1 - 20" min=1 max=20>
                                </div>
                                <div class="form-group">
                                    <select class="form-control" ng-model="floor.passengers.destinationFloor" ng-options="destFloor.number as destFloor.number for destFloor in floors|otherFloors:floor.number" ng-disabled="floor.passengers.boarding == 0 || floor.passengers.boarding > 20 || !floor.passengers.boarding">
                                        <option value="">Destination</option>
                                    </select>
                                </div>
                            </form>
                        </td>
                    </div>
                    <!-- Elevators -->
                    <td ng-repeat="elevator in elevators" ng-class="{'alert-danger' : elevator.travelDirection === 'down' && floor.number <= elevator.sourceFloor && floor.number >= elevator.destinationFloor, 'alert-success' : elevator.travelDirection === 'up' && floor.number >= elevator.sourceFloor && floor.number <= elevator.destinationFloor}">
                        <span ng-if="elevator.floor === floor.number">
                            <i class="fa fa-group"></i> {{ elevator.people }}
                            </br><i class="fa" ng-class="{'fa-arrow-down' : elevator.travelDirection === 'down', 'fa-arrow-up' : elevator.travelDirection === 'up'}"></i>
                        </span>
                        <span ng-if="elevator.floor != floor.number">-</span>
                    </td>
                </tr>
            </tbody>
        </table>
        <button class="btn btn-primary btn-block" ng-click="dispatch()">Dispatch</button>
    </div>
</div>
